*{
    margin:0;
    padding:0;
}
body{
    background:#000;
    font: 14px/19px Roboto, sans-serif;
}

.section{
    margin:0px;
    height:1000px;
    width:100%;
    float:left;
}
.section .overview{
    text-align:center;
    background:black;
    height:100%
}
.section h3{
    color:white
}
.section h2{
    margin:125px 0px 30px 50px;
    font-size:100px;
    text-align:center
}
.section p{
    margin:20px 0px 0px 50px;
    width:1000px;
}
.section .myframe{
    text-align:center
}
.section iframe{
    height:700px;
    width:80%;
}
.black{
    color:#fff;
    background:#000 url(../images/black_vert.jpg) repeat-x bottom left;
}
.white{
    color:#000;
    background:#fff url(../images/white_vert.jpg) repeat-x bottom left;
}
.section ul{
    list-style:none;
    margin:20px 0px 0px 550px;
}
.black ul li{
    float:left;
    padding:5px;
    margin:5px;
}
.black ul li a{
    display:block;
}

.white ul li{
    float:left;
    padding:5px;
    margin:5px;
}
.white ul li a{
    display:block;
}


