*{
    margin:0;
    padding:0;
}
body{
    background:#000;
    font: 14px/19px Roboto, sans-serif;
}

.section{
    margin:0px;
    height:1000px;
    width:100%;
    float:left;
}
.section .overview{
    text-align:center;
    background:black;
    height:100%
}
.section h3{
    color:white;
}
.section h2{
    margin:125px 0px 30px 50px;
    font-size:100px;
    text-align:center;

}
.brief{
    margin: 40px 0px 20px 50px;
    text-align: center;
}
.section .myframe{
    text-align:center
}
.section iframe{
    height:700px;
    width:80%;
}
.black{
    color:#fff;
    background:#000 url(../images/black_vert.jpg) repeat-x bottom left;
}
.white{
    color:#000;
    background:#fff url(../images/white_vert.jpg) repeat-x bottom left;
}
.nav ul{
    list-style:none;
    margin:20px 0px 0px 550px;
}
.black .nav ul li{
    float:left;
    padding:5px;
    margin:5px;
    color:#aaa;
}
.black .nav ul li a{
    display:block;
    color:#f0f0f0;
}
.black .nav ul li a:hover{
    text-decoration:none;
    color:#fff;
}
.white .nav ul li{
    float:left;
    padding:5px;
    margin:5px;
    color:#aaa;
}
.white .nav ul li a{
    display:block;
    color:#222;
}
.white .nav ul li a:hover{
    text-decoration:none;
    color:#000;
}